div.Grid {
    display: flex;
    align-self: center;
    margin-right: 2em;
    background-color: light-gray;
    width: 10em;
}

div.ReactTable {
    background-color: white;
    width: 10em;
}

div.rt-tr-group {
    cursor: pointer;
}

div.rt-td {
    text-align: center;
}